main {
    height: 750px;
    background-color: var(--gray-200);
}

#trabalhos {
    display: flex;
    flex-direction: column;
    align-items: center;
}



main h3 {
    font-family: var(--font-family-2);
    color: var(--red) ;
}

main p {
    font: var(--h2);
    color: var(--gray-600);
}

.grid {
    display: grid;
    grid-template-columns: 330px 330px 330px;
    margin-top: 54px;
    
    width: 1040px;
    height: 584px;
    
}

.grid img {
    width: 306px;
    height: 156px;
    border-radius: 8px;
    margin: 10px 0 10px 10px; 
    
    
}

.grid-1 {
    display: grid;
    grid-template-columns: 330px 330px 330px;
    gap: 24px;
    
    

    width: 330px;
    height: 280px;
    border-radius: 12px;
}



.conteudo {
    display: grid;
    grid-area: row;
    justify-items: center;
    
}

.desc{
    display: grid;
    grid-area: row;
    justify-items: center;
    
    
}

h4 {
    font: var(--h3);
    color: var(--gray-600);
}

.desc-1 {
    font: var(--text-sm);
    color: var(--gray-500);
    margin-top: 5px;
    
}

.conteudo-1 {
    display: grid;
    grid-area: row;
    justify-items: center;
}

.conteudo-1 h3 {
    margin-top: 88px;
}

.bg-color {
    background-color: #0D0E11;
}

.servicos {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 56px;
    gap: 24px;

    
}

.servicos span {
    height: 155px;
    width: 280px;
    padding: 20px;
}

span h4 {
    font: var(--text-sm);
    color: var(--gray-600);
}

span p {
    font: var(--text-sm);
    color: var(--gray-500);
}

span{
    border: 1px solid var(--gray-300);
    border-radius: 12px;
}


.contato {
    background-image: url(../assets/bg-images/Background_Contacts.png);
    
}

.contato h4 {
    margin-top: 88px;
    font: var(--subtitle-md);
    color: var(--purple);
}

.links{
    background-color: aqua;
    display: grid;
    
    justify-items: center;
    margin-top: 48px;
    width: 400px;
    height: 320px;
}

/* .ordenar {
    display: flex;
    flex-direction: column;
} */
    
a {
    display: ;
    text-decoration: none;
    border: 1px solid orange;
    
}
    







